In [1]:
import pandas as pd
import csv
import numpy as np
from PIL import Image
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('AVA_Entropies_Calculated.csv')
data

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,Note9,Note10,Tag1,Tag2,ChallengeID,B,Entropy_Color,Entropy_BW,E/E_bw,Entropy_NonR
0,0,0,0,0,0,0,0,0,0,0,...,3,1,22,0,1396,6.112903,11.094118,6.689572,0.0,0.0
1,1,1,1,1,1,1,1,1,1,1,...,8,3,20,53,1396,6.593750,11.235859,7.698757,0.0,0.0
2,2,2,2,2,2,2,2,2,2,2,...,2,2,0,0,1396,5.796875,9.316750,7.766329,0.0,0.0
3,3,3,3,3,3,3,3,3,3,3,...,0,2,0,0,1396,5.040984,12.796335,7.210267,0.0,0.0
4,4,4,4,4,4,4,4,4,4,4,...,3,2,21,28,1396,5.943548,5.568864,7.566631,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249752,249752,249752,249752,249752,249752,249752,249752,249752,249752,249752,...,6,1,9,0,181,5.339844,7.322678,5.114791,0.0,0.0
249753,249753,249753,249753,249753,249753,249753,249753,249753,249753,249753,...,18,7,1,18,181,6.235294,1.932998,1.662843,0.0,0.0
249754,249754,249754,249754,249754,249754,249754,249754,249754,249754,249754,...,30,22,9,24,181,7.072581,7.433306,7.579280,0.0,0.0
249755,249755,249755,249755,249755,249755,249755,249755,249755,249755,249755,...,5,2,22,0,181,5.608871,12.011088,7.541434,0.0,0.0
249756,249756,249756,249756,249756,249756,249756,249756,249756,249756,249756,...,5,7,19,21,181,5.853061,6.655246,7.038293,0.0,0.0

In [8]:
data.drop(['Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1' ],inplace = True, axis =1)
data

,Index,ID,Note1,Note2,Note3,Note4,Note5,Note6,Note7,Note8,Note9,Note10,Tag1,Tag2,ChallengeID,B,Entropy_Color,Entropy_BW,E/E_bw,Entropy_NonR
0,11,953417,0,0,0,5,32,50,23,10,3,1,22,0,1396,6.112903,11.094118,6.689572,0.0,0.0
1,12,953777,0,3,2,3,13,40,35,21,8,3,20,53,1396,6.593750,11.235859,7.698757,0.0,0.0
2,13,953756,0,2,3,9,35,50,20,5,2,2,0,0,1396,5.796875,9.316750,7.766329,0.0,0.0
3,14,954195,0,1,7,26,56,23,6,1,0,2,0,0,1396,5.040984,12.796335,7.210267,0.0,0.0
4,15,953903,0,1,4,5,33,50,17,9,3,2,21,28,1396,5.943548,5.568864,7.566631,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249752,255526,56938,1,7,17,40,84,56,31,13,6,1,9,0,181,5.339844,7.322678,5.114791,0.0,0.0
249753,255527,57304,1,0,8,25,50,65,55,26,18,7,1,18,181,6.235294,1.932998,1.662843,0.0,0.0
249754,255528,56711,0,0,8,11,26,47,48,56,30,22,9,24,181,7.072581,7.433306,7.579280,0.0,0.0
249755,255529,57303,0,2,19,30,75,60,30,25,5,2,22,0,181,5.608871,12.011088,7.541434,0.0,0.0
249756,255530,57221,1,3,10,39,51,61,39,29,5,7,19,21,181,5.853061,6.655246,7.038293,0.0,0.0

In [9]:
data.to_csv('AVA_Entropies.csv', index = False)

In [10]:
data2 = pd.read_csv('AVA_Entropies.csv')
data2

,Index,ID,Note1,Note2,Note3,Note4,Note5,Note6,Note7,Note8,Note9,Note10,Tag1,Tag2,ChallengeID,B,Entropy_Color,Entropy_BW,E/E_bw,Entropy_NonR
0,11,953417,0,0,0,5,32,50,23,10,3,1,22,0,1396,6.112903,11.094118,6.689572,0.0,0.0
1,12,953777,0,3,2,3,13,40,35,21,8,3,20,53,1396,6.593750,11.235859,7.698757,0.0,0.0
2,13,953756,0,2,3,9,35,50,20,5,2,2,0,0,1396,5.796875,9.316750,7.766329,0.0,0.0
3,14,954195,0,1,7,26,56,23,6,1,0,2,0,0,1396,5.040984,12.796335,7.210267,0.0,0.0
4,15,953903,0,1,4,5,33,50,17,9,3,2,21,28,1396,5.943548,5.568864,7.566631,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249752,255526,56938,1,7,17,40,84,56,31,13,6,1,9,0,181,5.339844,7.322678,5.114791,0.0,0.0
249753,255527,57304,1,0,8,25,50,65,55,26,18,7,1,18,181,6.235294,1.932998,1.662843,0.0,0.0
249754,255528,56711,0,0,8,11,26,47,48,56,30,22,9,24,181,7.072581,7.433306,7.579280,0.0,0.0
249755,255529,57303,0,2,19,30,75,60,30,25,5,2,22,0,181,5.608871,12.011088,7.541434,0.0,0.0
249756,255530,57221,1,3,10,39,51,61,39,29,5,7,19,21,181,5.853061,6.655246,7.038293,0.0,0.0

In [11]:
data2["Entropy_Color_NonR"] = data2["Entropy_Color"] * np.log(4)

In [12]:
data2

,Index,ID,Note1,Note2,Note3,Note4,Note5,Note6,Note7,Note8,...,Note10,Tag1,Tag2,ChallengeID,B,Entropy_Color,Entropy_BW,E/E_bw,Entropy_NonR,Entropy_Color_NonR
0,11,953417,0,0,0,5,32,50,23,10,...,1,22,0,1396,6.112903,11.094118,6.689572,0.0,0.0,15.379713
1,12,953777,0,3,2,3,13,40,35,21,...,3,20,53,1396,6.593750,11.235859,7.698757,0.0,0.0,15.576208
2,13,953756,0,2,3,9,35,50,20,5,...,2,0,0,1396,5.796875,9.316750,7.766329,0.0,0.0,12.915759
3,14,954195,0,1,7,26,56,23,6,1,...,2,0,0,1396,5.040984,12.796335,7.210267,0.0,0.0,17.739487
4,15,953903,0,1,4,5,33,50,17,9,...,2,21,28,1396,5.943548,5.568864,7.566631,0.0,0.0,7.720084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249752,255526,56938,1,7,17,40,84,56,31,13,...,1,9,0,181,5.339844,7.322678,5.114791,0.0,0.0,10.151388
249753,255527,57304,1,0,8,25,50,65,55,26,...,7,1,18,181,6.235294,1.932998,1.662843,0.0,0.0,2.679705
249754,255528,56711,0,0,8,11,26,47,48,56,...,22,9,24,181,7.072581,7.433306,7.579280,0.0,0.0,10.304750
249755,255529,57303,0,2,19,30,75,60,30,25,...,2,22,0,181,5.608871,12.011088,7.541434,0.0,0.0,16.650904
249756,255530,57221,1,3,10,39,51,61,39,29,...,7,19,21,181,5.853061,6.655246,7.038293,0.0,0.0,9.226130

In [14]:
data2["E/E_bw"] = data2["Entropy_Color_NonR"] / data2["Entropy_BW"]
data2

,Index,ID,Note1,Note2,Note3,Note4,Note5,Note6,Note7,Note8,...,Note10,Tag1,Tag2,ChallengeID,B,Entropy_Color,Entropy_BW,E/E_bw,Entropy_NonR,Entropy_Color_NonR
0,11,953417,0,0,0,5,32,50,23,10,...,1,22,0,1396,6.112903,11.094118,6.689572,2.299058,0.0,15.379713
1,12,953777,0,3,2,3,13,40,35,21,...,3,20,53,1396,6.593750,11.235859,7.698757,2.023211,0.0,15.576208
2,13,953756,0,2,3,9,35,50,20,5,...,2,0,0,1396,5.796875,9.316750,7.766329,1.663045,0.0,12.915759
3,14,954195,0,1,7,26,56,23,6,1,...,2,0,0,1396,5.040984,12.796335,7.210267,2.460309,0.0,17.739487
4,15,953903,0,1,4,5,33,50,17,9,...,2,21,28,1396,5.943548,5.568864,7.566631,1.020280,0.0,7.720084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249752,255526,56938,1,7,17,40,84,56,31,13,...,1,9,0,181,5.339844,7.322678,5.114791,1.984712,0.0,10.151388
249753,255527,57304,1,0,8,25,50,65,55,26,...,7,1,18,181,6.235294,1.932998,1.662843,1.611520,0.0,2.679705
249754,255528,56711,0,0,8,11,26,47,48,56,...,22,9,24,181,7.072581,7.433306,7.579280,1.359595,0.0,10.304750
249755,255529,57303,0,2,19,30,75,60,30,25,...,2,22,0,181,5.608871,12.011088,7.541434,2.207923,0.0,16.650904
249756,255530,57221,1,3,10,39,51,61,39,29,...,7,19,21,181,5.853061,6.655246,7.038293,1.310848,0.0,9.226130

In [15]:
data2.drop(['Entropy_NonR' ],inplace = True, axis =1)
data2.to_csv('AVA_Entropies.csv', index = False)
data2 = pd.read_csv('AVA_Entropies.csv')
data2

,Index,ID,Note1,Note2,Note3,Note4,Note5,Note6,Note7,Note8,Note9,Note10,Tag1,Tag2,ChallengeID,B,Entropy_Color,Entropy_BW,E/E_bw,Entropy_Color_NonR
0,11,953417,0,0,0,5,32,50,23,10,3,1,22,0,1396,6.112903,11.094118,6.689572,2.299058,15.379713
1,12,953777,0,3,2,3,13,40,35,21,8,3,20,53,1396,6.593750,11.235859,7.698757,2.023211,15.576208
2,13,953756,0,2,3,9,35,50,20,5,2,2,0,0,1396,5.796875,9.316750,7.766329,1.663045,12.915759
3,14,954195,0,1,7,26,56,23,6,1,0,2,0,0,1396,5.040984,12.796335,7.210267,2.460309,17.739487
4,15,953903,0,1,4,5,33,50,17,9,3,2,21,28,1396,5.943548,5.568864,7.566631,1.020280,7.720084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249752,255526,56938,1,7,17,40,84,56,31,13,6,1,9,0,181,5.339844,7.322678,5.114791,1.984712,10.151388
249753,255527,57304,1,0,8,25,50,65,55,26,18,7,1,18,181,6.235294,1.932998,1.662843,1.611520,2.679705
249754,255528,56711,0,0,8,11,26,47,48,56,30,22,9,24,181,7.072581,7.433306,7.579280,1.359595,10.304750
249755,255529,57303,0,2,19,30,75,60,30,25,5,2,22,0,181,5.608871,12.011088,7.541434,2.207923,16.650904
249756,255530,57221,1,3,10,39,51,61,39,29,5,7,19,21,181,5.853061,6.655246,7.038293,1.310848,9.226130

In [16]:
data2.drop(['Note1', 'Note2','Note3','Note4','Note5','Note6','Note7','Note8','Note9','Note10'],inplace = True, axis =1)
data2

,Index,ID,Tag1,Tag2,ChallengeID,B,Entropy_Color,Entropy_BW,E/E_bw,Entropy_Color_NonR
0,11,953417,22,0,1396,6.112903,11.094118,6.689572,2.299058,15.379713
1,12,953777,20,53,1396,6.593750,11.235859,7.698757,2.023211,15.576208
2,13,953756,0,0,1396,5.796875,9.316750,7.766329,1.663045,12.915759
3,14,954195,0,0,1396,5.040984,12.796335,7.210267,2.460309,17.739487
4,15,953903,21,28,1396,5.943548,5.568864,7.566631,1.020280,7.720084
...,...,...,...,...,...,...,...,...,...,...
249752,255526,56938,9,0,181,5.339844,7.322678,5.114791,1.984712,10.151388
249753,255527,57304,1,18,181,6.235294,1.932998,1.662843,1.611520,2.679705
249754,255528,56711,9,24,181,7.072581,7.433306,7.579280,1.359595,10.304750
249755,255529,57303,22,0,181,5.608871,12.011088,7.541434,2.207923,16.650904
249756,255530,57221,19,21,181,5.853061,6.655246,7.038293,1.310848,9.226130

In [17]:
data2.drop(['Index', 'ChallengeID'],inplace = True, axis =1)

In [18]:
data2

,ID,Tag1,Tag2,B,Entropy_Color,Entropy_BW,E/E_bw,Entropy_Color_NonR
0,953417,22,0,6.112903,11.094118,6.689572,2.299058,15.379713
1,953777,20,53,6.593750,11.235859,7.698757,2.023211,15.576208
2,953756,0,0,5.796875,9.316750,7.766329,1.663045,12.915759
3,954195,0,0,5.040984,12.796335,7.210267,2.460309,17.739487
4,953903,21,28,5.943548,5.568864,7.566631,1.020280,7.720084
...,...,...,...,...,...,...,...,...
249752,56938,9,0,5.339844,7.322678,5.114791,1.984712,10.151388
249753,57304,1,18,6.235294,1.932998,1.662843,1.611520,2.679705
249754,56711,9,24,7.072581,7.433306,7.579280,1.359595,10.304750
249755,57303,22,0,5.608871,12.011088,7.541434,2.207923,16.650904
249756,57221,19,21,5.853061,6.655246,7.038293,1.310848,9.226130

In [19]:
data2.to_csv('AVA_Essentials.csv', index = False)